/* Political Priorities Component Styles */
.political-priorities {
  background-color: #01ab55; /* Green background color */
  color: white;
}

.priorities-container {
  /* max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; */
}

/* Header section */
.priorities-header {
  padding-block: 5rem;
  padding-right: 9.3rem !important;
}

.priorities-header h3 {
  font-size: 20px;
  font-weight: 600;
}

.priorities-header h2 {
  font-size: 42px;
  font-weight: 600;
}

.priorities-header p {
  font-size: 17px;
  font-weight: 400;
}

/* Individual priority card */
.priority-card {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.priority-card:nth-of-type(1) {
  background-color: #02934a;
}
.priority-card:nth-of-type(2) {
  background-color: #008241;
}
.priority-card:nth-of-type(3) {
  background-color: #00743a;
}

.card-icon {
  margin-bottom: 1.5rem;
}

.card-icon svg {
  width: 35px;
  height: 35px;
  color: white;
}

.priority-card h3 {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.2em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.read-more-btn {
  background-color: #ffffff;
  font-family: "Poppins", Sans-serif;
  font-size: 15px;
  font-weight: 400;
  width: fit-content;
  fill: #282828;
  color: #282828;
  border: none;
  border-radius: 100px;
  padding: 12px 25px;
}

.read-more-btn:hover {
  background-color: #282828;
  color: #ffffff;
}

/* Responsive adjustments */
@media (max-width: 992px) {
  .priorities-container {
    flex-direction: column;
  }

  .priorities-header {
    text-align: center;
    margin-bottom: 3rem;
  }

  .priorities-header p {
    max-width: 600px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .priorities-cards {
    flex-direction: column;
    align-items: center;
  }

  .priorities-header{
    padding-right: 0 !important;
    padding-block: 1rem;
  }

  .priority-card {
    width: 100%;
    max-width: 400px;
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 480px) {
  .priorities-header h2 {
    font-size: 1.8rem;
  }

  .priorities-header p {
    font-size: 0.9rem;
  }

  .priority-card {
    padding: 1.5rem 1rem;
  }
}
