.mission-section {
  background: #f5f5f5;
  padding: 48px 0 64px 0;
}

.mission-header {
  text-align: center;
  margin-bottom: 36px;
}

.mission-title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.12;
  color: #222;
  margin: 0 0 10px 0;
}

.mission-card {
  background: #fff;
  border-radius: 13px;
  width: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.mission-card:hover {
  background-color: #222f63;
  color: #fff;
}

.mission-card:hover .mission-card-title, .mission-card:hover .mission-card-desc{
  color: #f5f5f5;
}

.mission-cards .vision-card:nth-of-type(2) .mission-icon-wrap {
  background-color: #4baf4f;
  padding: 2.2rem;
}
.mission-icon-wrap {
  width: 147px;
  height: 147px;
  margin: 0 auto;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mission-icon {
  /* width: 54px;
  height: 54px; */
  object-fit: contain;
  position: relative;
  width: 100%;
}

.mission-card-title {
  color: #000000;
  font-family: "Poppins", Sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.2em;
}

.mission-card-desc {
  color: #282828;
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.mission-btn {
  background-color: #4BAF4F;
  font-family: "Poppins", Sans-serif;
  font-size: 18px;
  font-weight: 500;
  fill: #FFFFFF;
  color: #FFFFFF;
  border-radius: 10px;
  padding: 16px 28px;
  border: none;
}

.mission-btn:hover {
  background-color: #FFFFFF;
  color: #282828;
}
/* 
@media screen and (max-width: 992px){
  .mission-cards > .col-md-4{
    width: ;
  }
} */