/* Hero Section */
.vote-hero-section {
  min-height: 420px;
  background: url("../../assets/sale_bg.jpg") center center/cover no-repeat;
  position: relative;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
}

.vote-hero-content {
  max-width: 600px;
  margin: 0 auto;
}

.vote-hero-badge {
  display: inline-block;
  background: #4baf4f;
  color: #ffffff;
  font-family: "Poppins", Sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding: 8px 30px;
}

.vote-hero-title {
  color: #ffffff;
  font-family: "Poppins", Sans-serif;
  font-size: 62px;
  font-weight: 700;
  margin-bottom: 0;
  text-transform: uppercase;
}

.vote-hero-title-accent {
  color: #ffffff;
  font-family: "Poppins", Sans-serif;
  font-size: 118px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 0.9;
}

.vote-hero-stars {
  font-size: 1.5rem;
  color: #fff;
  letter-spacing: 0.2em;
}

.vote-hero-subtitle {
  color: #ffffff;
  font-family: "Poppins", Sans-serif;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
}

.vote-hero-subtitle .subtitle {
  color: #ffffff;
  font-family: "Poppins", Sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}

.title-accent {
  font-weight: 600;
}
.vote-hero-btn {
  background-color: #ffffff;
  font-family: "Poppins", Sans-serif;
  font-size: 19px;
  font-weight: 500;
  fill: #282828;
  color: #282828;
  border-radius: 10px;
  border: none;
  padding: 18px 30px;
}
.vote-hero-btn:is(:hover, :focus) {
  background: #282828;
  color: #fff;
}

/* Lower Section */
.vote-lower-section {
  background: #fff;
}

.vote-diff-subtitle {
  color: #4baf4f;
  font-family: "Poppins", Sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  padding-bottom: 1.3rem;
}

.vote-diff-subtitle::after {
  content: "";
  width: 3.5rem;
  height: 2px;
  background: #4baf4f;
  position: absolute;
  left: 0;
  bottom: 0;
}
.vote-diff-title {
  color: #191919;
  font-family: "Poppins", Sans-serif;
  font-size: 41px;
  font-weight: 600;
  line-height: 1.2em;
}

.vote-diff-desc {
  color: #282828;
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.percentage{
  color: #010D2D;
  font-family: "Poppins", Sans-serif;
  font-size: 17px;
  font-weight: 600;
}
.vote-progress-bar {
  margin-top: 1rem;
  height: 0.5rem !important;
  border-radius: 0 !important;
  background-color: #191919 !important;
}

.vote-progress-bar .progress-bar {
  background-color: #4ec16e !important;
  border-radius: 0;
}

.left-text {
  padding-right: 5rem;
}
.vote-diff-btn {
  background: #4ec16e;
  color: #fff;
  border-radius: 8px;
  font-weight: 600;
  padding: 10px 32px;
  border: none;
  margin-top: 10px;
  transition: background 0.2s;
}
.vote-diff-btn:hover,
.vote-diff-btn:focus {
  background: #1a2956;
  color: #fff;
}

/* Features Cards */
.vote-features-cards {
  background-color: #4baf4f;
  border-radius: 1.5rem;
}

.vote-feature-card {
  background: transparent;
  color: #fff;
  border-radius: 1rem;
  box-shadow: none;
  padding: 2.5rem 4rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.vote-feature-card:nth-of-type(2) {
  background-color: #3fa043;
  border-radius: 0;
}

.vote-feature-title {
  font-size: 1.1rem;
  color: #fff;
}

.vote-feature-desc {
  color: #e6f5ec !important;
}

/* Responsive Tweaks */
@media (max-width: 991.98px) {
  /* .vote-hero-title {
    font-size: 2rem;
  } */
  .vote-diff-title {
    font-size: 30px;
  }
  /* .vote-features-cards {
    margin-top: 2rem;
  } */
}

.vote-hero-bg {
  background: url("../../assets/sale_bg.jpg") center bottom/cover no-repeat;
}

.img-holder {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.3rem;
  flex: 0 0 auto; /* Prevent grow/shrink */
}

.img-holder img {
  width: 100%;
  height: auto;
  max-height: 100%;
  display: block;
  object-fit: contain;
}

.vote-title {
  margin-bottom: 13px;
  color: #ffffff;
  font-family: "Poppins", Sans-serif;
  font-size: 22px;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vote-desc {
  color: #ffffff;
  font-family: "Poppins", Sans-serif;
  font-size: 17px;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 786px) {
  .vote-feature-card {
    flex-direction: column;
  }
}

@media screen and (max-width: 786px) {
  .vote-hero-badge {
    font-size: 16px;
    font-weight: 500;
  }
  .vote-hero-title {
    font-size: 50px;
  }
  .vote-hero-title-accent {
    font-size: 85px;
  }
  .vote-hero-subtitle {
    font-size: 20px;
}
.vote-hero-subtitle .subtitle {
  font-size: 20px;
}
.vote-hero-bg{
  background-position: left;
}
}
