@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.top-btn {
  background-color: #4baf4f;
  margin-top: 3.5rem;
  font-family: "Poppins", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  border: none;
  fill: #ffffff;
  color: #ffffff;
  border-radius: 10px;
  padding: 18px 30px;
}

.top-btn:is(:hover, :focus) {
  background-color: #282828;
  color: #ffffff;
}